h4 {
    margin: 0;
}

.modal-layout {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
    background-color: var(--sharp-contrast-color-1);
    border-radius: 12px;
    width: 96%;
    height: 50%;
    

}

.modal-header {
    display: flex;
    /*margin: 24px;*/
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
}

.modal-body {
    box-sizing: border-box;
    /* padding: 32px; */
    /* max-height: 50vh; */
    width: 100%;
    flex-grow: 2;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    /* overflow-y: scroll; */
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    
}

.modal-btn {
    margin: 0 8px;
}
.cross:hover
{
    background-color: aqua;
    cursor: pointer;
}