

.tag-show:hover{
  background-color: var(--sharp-contrast-color-2);
  cursor: pointer;
}



.tag-show {

/*  color: #fff;
  opacity: 0.9;
  height: 19%;
  margin: 1% 0;*/

 

  background: var(--sharp-contrast-color-1);
  height: 0;
  margin-bottom: 1%;
  color: var(--body-background-color);





 animation-name: fadeInC;
  animation-timing-function: cubic-bezier(.36,-0.64,.34,1.76);;
  animation-fill-mode:forwards;
}



@keyframes fadeInC {
  0% {
    height: 0;
    opacity: 0.0;
  }
  100% {
    opacity: 0.9;
    height: 19%;
    margin: 1% 0;
    color: white;

  }
}
.empty-tag{
  height: 100%;

}

.empty-tag, .tag-show{
  width: 70%;
}