li {
  list-style: none;
  background: #d1703c;
  color: #fff;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
}

li.show {
  list-style: none;
  background: #d1703c;
  color: #fff;
  line-height: 2em;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;

  
  margin: 2px 0;

  animation-name: fadeIn;
  animation-timing-function: cubic-bezier(.36,-0.64,.34,1.76);;
  animation-fill-mode: forwards;
}

ul {
  padding: 0;
}

@keyframes fadeIn {
  0% {
    height: 0;
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
    height: 2em;
    margin: 2px 0;

  }
}