
/* Basic weather display */
.basic-weather-container {
    width: 320px;
    height: 230px;
    margin: 12px 0 0;
}

.basic-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.temperatures {
    display: flex;
    flex-direction: column;
}

p, h2, h4 {
    margin: 0;
}

p {
    font-size: 12px;
}

.main-temperature h1 {
    color: var(--sharp-contrast-color-1);
    font-size: 64px;
}

.apparent-temperature h3 {
    color: var(--sharp-contrast-color-2);
    margin-top: 12px;
}

.weather-symbol {
    font-size: 120px;
    color: var(--sharp-contrast-color-2);

}

/* Weather plot settings */

.weather-plot {
    width: 100%;
    max-width: 480px;
}

.recharts-legend-item {
    overflow: visible;
    display: block;
}

.recharts-legend-wrapper {
    width: unset;
}

.recharts-legend-item.legend-item-0 {
    margin-right: 0!important;
    margin-left: 18px;
}

.legend-item-0 .recharts-legend-item-text {
    color: var(--chart-temperature-color) !important;
}
.legend-item-0 .recharts-legend-icon {
    stroke: var(--chart-temperature-color) !important;
}

.legend-item-1 {
    margin-left: 0!important;
}

.legend-item-1 .recharts-legend-item-text {
    color: var(--chart-apparent-temperature-color) !important;
}

.legend-item-1 .recharts-legend-icon {
    stroke: var(--chart-apparent-temperature-color) !important;
}


.recharts-line-curve#temp {
    stroke: var(--chart-temperature-color);
}

.recharts-line-curve#appTemp {
    stroke: var(--chart-apparent-temperature-color);
}

.recharts-line-dot {
    display: none;
}

.recharts-cartesian-grid-vertical line {
    stroke: none;
}

.recharts-cartesian-grid-horizontal line {
    stroke: var(--chart-horizontal-line-color);
}

.recharts-tooltip-wrapper {
    padding: 0 12px;
    background-color: var(--tooltip-background-color);
    outline: none;
}

.label#temp {
    color: var(--chart-temperature-color);
}

.label#apparent-temp {
    color: var(--chart-apparent-temperature-color);
}