
/* Basic weather display */
.basic-weather-container {
    width: 80vw;
    height: 230px;
    margin: 16px 0 0;
    background-color: rgba(178, 230, 230, 0.2);
}

.basic-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inner-container {
    height: 175px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
}

.temperatures {
}

.wind-and-rain {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    font-size: 24px;
}

.basic-weather-container p,
.main-temperature h1,
.basic-weather-container h2,
.basic-weather-container h3,
.basic-weather-container h4 {
    margin: 0;
    font-weight: normal;
}

.heading {
    background-color: rgba(178, 230, 230, 0.3);
}

.basic-weather-container p {
    font-size: 12px;
}

.apparent-temperature h3 {
    margin-top: 12px;
}

.weather-symbol {
    display: flex;
    flex-direction: column;
    font-size: 120px;
    color: var(--sharp-contrast-color-2);

}

.weather-plot {
    width: 100%;
    height: 100%;
}

/* Weather plot settings */
.recharts-legend-item {
    overflow: visible;
    /*display: block;*/
}

.recharts-legend-item.legend-item-0 {
    margin-right: 10px;
}

.legend-item-0 .recharts-legend-item-text {
    color: var(--chart-temperature-color) !important;
}
.legend-item-0 .recharts-legend-icon {
    stroke: var(--chart-temperature-color) !important;
}

.legend-item-1 {
    margin-left: 0!important;
}

.legend-item-1 .recharts-legend-item-text {
    color: var(--chart-apparent-temperature-color) !important;
}

.legend-item-1 .recharts-legend-icon {
    stroke: var(--chart-apparent-temperature-color) !important;
}


.recharts-line-curve#temp {
    stroke: var(--chart-temperature-color);
}

.recharts-line-curve#appTemp {
    stroke: var(--chart-apparent-temperature-color);
}

.recharts-line-dot {
    display: none;
}

.recharts-cartesian-grid-vertical line {
    stroke: none;
}

.recharts-cartesian-grid-horizontal line {
    stroke: var(--chart-horizontal-line-color);
}

.recharts-tooltip-wrapper {
    padding: 0 12px;
    background-color: var(--tooltip-background-color);
    outline: none;
}

.label#temp {
    color: var(--chart-temperature-color);
}

.label#apparent-temp {
    color: var(--chart-apparent-temperature-color);
}