:root {
    /* FONTS */
    --body-font: Roboto sans-serif;
    --accent-font: Verdana, sans-serif;
    --code-font: monospace;

    /* COLORS */
    /* Color scheme */
    --neutral-color-xlight: #f2f2f2;
    --neutral-color-dark: #1a1a1a;
    --neutral-color-medium: #666666;
    --neutral-color-light: #b3b3b3;
    --accent-color-dark: #19334d;
    --accent-color-medium: #338099;
    --accent-color-light: #9fe0e0;
    --accent-color-xlight: #ecf2f9;
    --danger-soft-color: #ebaead;
    --danger-sharp-color: #BD312E;

    /* FONT SIZES */
    --font-size-body: 16px;
    --font-size-input: 20px;
    --font-size-secondary: 14px;
    --font-size-link: 12px;
    --font-size-h1: 72px;
    --font-size-h2: 48px;
    --font-size-h3: 36px;
    --font-size-h4: 24px;
    --font-size-icon-button: 72px;

    /* OTHER SIZES */
    --button-min-height: 48px;
    --button-width-small: 96px;
    --button-width-medium: 144px;
    --button-width-large: 192px;
    --field-min-height: 48px;

    /* Elements */
    --medium-button-background-color: var(--accent-color-medium);
    --medium-button-text-color: var(--neutral-color-xlight);
    --light-button-background-color: var(--accent-color-light);
    --light-button-text-color: var(--accent-color-dark);
    --hover-color: var(--neutral-color-xlight);
    --link-color: var(--sharp-contrast-color-2);
    --visited-link-color: var(--sharp-contrast-color-1);
}

.dark {
    --sharp-contrast-color-1: sandybrown;
    --sharp-contrast-color-2: #4dd2ff;
    --h1-color: var(--sharp-contrast-color-1);

    --heading-color: var(--accent-color-light);
    --body-background-color: var(--accent-color-dark);
    --body-font-color: var(--neutral-color-xlight);

    --hover-color: var(--neutral-color-xlight);

    --slider-main-color: var(--accent-color-medium);
    --slider-main-color-hover: var(--hover-color);
    --slider-track-color: var(--accent-color-xlight);

    --theme-button-color: var(--sharp-contrast-color-1);
    --input-field-background-color: var(--accent-color-light);
    --icon-button-color: var(--accent-color-light);
    --input-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);

    --tooltip-background-color: rgb(0,0,0,0.5);
    --chart-temperature-color: var(--sharp-contrast-color-1);
    --chart-apparent-temperature-color: var(--sharp-contrast-color-2);
    --chart-horizontal-line-color: var(--neutral-color-medium);

    --tag-radial-gradient: radial-gradient(rgba(178, 230, 230, 0.4), rgba(178, 230, 230, 0.0));
    --tag-radial-gradient-hover: radial-gradient(rgba(101, 205, 205, 0.8), rgba(178, 230, 230, 0.0));
    --tag-text-color: var(--heading-color);
    --tag-text-color-hover: var(--accent-color-xlight);

    --button-linear-gradient: linear-gradient(to right, var(--input-field-background-color) , var(--medium-button-background-color));
    --button-linear-gradient-hover: linear-gradient(to right, var(--input-field-background-color), var(--light-button-background-color));
    --button-radial-gradient: radial-gradient(var(--input-field-background-color) , var(--medium-button-background-color));
    --button-radial-gradient-hover: radial-gradient(var(--input-field-background-color), var(--light-button-background-color));

    --modal-background-color: rgba(25, 51, 77, 0.8);
}

.light {
    --sharp-contrast-color-1: #d76c0f;
    --sharp-contrast-color-2: #0099cc;

    --h1-color: var(--sharp-contrast-color-1);
    --heading-color: var(--accent-color-medium);
    --body-background-color: var(--neutral-color-xlight);
    --body-font-color: var(--accent-color-medium);

    --hover-color: var(--accent-color-light);

    --slider-main-color: var(--accent-color-medium);
    --slider-main-color-hover: var(--hover-color);
    --slider-track-color: var(--accent-color-xlight);

    --theme-button-color: var(--accent-color-light);
    --input-field-background-color: var(--accent-color-xlight);
    --icon-button-color: var(--accent-color-medium);
    --input-box-shadow: inset 0 0 0 2px rgba(178, 230, 230, 0.4);

    --tooltip-background-color: rgb(255, 255, 255, 0.6);
    --chart-temperature-color: var(--sharp-contrast-color-1);
    --chart-apparent-temperature-color: var(--sharp-contrast-color-2);
    --chart-horizontal-line-color: var(--neutral-color-light);

    /*--tag-radial-gradient: radial-gradient(rgba(178, 230, 230, 0.4), rgba(178, 230, 230, 0.0));*/
    /*--tag-radial-gradient-hover: radial-gradient(rgba(101, 205, 205, 0.5), rgba(178, 230, 230, 0.0));*/
    --tag-radial-gradient: radial-gradient(rgba(51, 128, 153, 0.4), rgba(178, 230, 230, 0.0));
    --tag-radial-gradient-hover: radial-gradient(rgba(51, 128, 153, 0.8), rgba(178, 230, 230, 0.0));
    --tag-text-color: var(--heading-color);
    --tag-text-color-hover: var(--accent-color-xlight);

    --button-linear-gradient-hover: linear-gradient(to right, var(--input-field-background-color) , var(--medium-button-background-color));
    --button-linear-gradient: linear-gradient(to right, var(--input-field-background-color), var(--light-button-background-color));

    --button-radial-gradient: radial-gradient(var(--input-field-background-color) , var(--medium-button-background-color));
    --button-radial-gradient-hover: radial-gradient(var(--input-field-background-color), var(--light-button-background-color));

    --modal-background-color: rgba(25, 51, 77, 0.8);

}