.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 480px;
  background-color: var(--body-background-color);
  position: relative;
  border-radius: 12px;
}

.App-header {
  padding: 36px 0;
}

.App-logo {
  size: 100px;
  height: 100px;
  pointer-events: none;
}

.Bundled-up-logo {
  max-height: 150px;
}

.weather-icons .icon {
  color: var(--sharp-contrast-color-2);
  font-size: var(--font-size-h3);
  min-height: unset;
  height: var(--font-size-h3);
  margin: 0;
}

.input-and-button {
  vertical-align: middle;
  margin: 24px 0;
}

p {
  font-size: var(--font-size-body);
  color: var(--body-font-color);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--h1-color);
  margin-top: 0;
  margin-bottom: 48px;
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--heading-color);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--heading-color);
}

h4 {
  font-size: var(--font-size-h4);
  color: var(--heading-color);
}

.link-list {
  flex-direction: unset;
  margin-top: 48px;
}

.flex-row {
  flex-direction: unset;
}

.hidden {
  display: none;
}

.icon-buttons {
  margin: 20px 20px;
}

.temperature-setting {
  margin-bottom: 32px;
}