button {
    width: var(--button-width-medium);
    min-height: var(--button-min-height);
    box-sizing: border-box;
    border-radius: 30px;
    font-size: var(--font-size-input);
    margin: 16px;
    border: none;
    transition-duration: 0.4s;
}

button:hover {
    background-color: var(--hover-color);
}

@media (pointer: coarse) {
    button {
        min-height: 48px;
    }
}

.default {
    background-color: var(--medium-button-background-color);
    color: var(--medium-button-text-color);
}

.danger {
    background-color: var(--danger-soft-color);
    color: var(--accent-color-dark);
}

.primary {
    background-color: var(--sharp-contrast-color-2);
    color: var(--accent-color-dark);
}

.connect {
    background-image: var(--button-linear-gradient);
    color: var(--medium-button-text-color);
    font-size: var(--font-size-input);
    font-weight: bold;
    min-height: var(--button-min-height);
    border-radius: 0 12px 12px 0;
    width: var(--button-min-height);
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.connect:hover,
.round:hover,
.cross:hover {
    background-image: var(--button-linear-gradient-hover);
    color: var(--light-button-text-color);
}

.round {
    background-image: radial-gradient(var(--input-field-background-color) , var(--medium-button-background-color));
    color: black;
    font-size: 28px;
    font-weight: bold;
    min-height: var(--button-min-height);
    border-radius: 50%;
    width: var(--button-min-height);
    margin: 0;
    padding: 0;
}

.cross {
    background-image: var(--button-linear-gradient);
    color: var(--medium-button-text-color);
    height: 48px;
    width: 48px;
    border-radius: 8px;
    z-index: 20;
}

.counter {
    width: 48px;
    height: 48px;
    border-radius: 12%;
    font-size: var(--font-size-input);
    margin: 0;

}

.counter#up {
    background-color: var(--sharp-contrast-color-1);
}

.counter#down {
    background-color: var(--sharp-contrast-color-2);
}

.counter#down:hover,
.counter#up:hover {
    background-color: var(--hover-color);
}

.icon {
    width: auto;
    height: auto;
    font-size: var(--font-size-h2);
    color: var(--icon-button-color);
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.bottom-left {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.bottom-right {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.icon:hover {
    font-size: calc(var(--font-size-h2) + 3px);
    background-color: transparent;
}

/* Theme button */
.theme {
    width: auto;
    height: auto;
    font-size: var(--font-size-h4);
    color: var(--theme-button-color);
    background-color: transparent;
    position: absolute;
    margin: 5px 10px 5px 5px;
    padding: 0;
    top: 1%;
    right: 1%;
}

.theme:hover {
    font-size: calc(var(--font-size-h4) + 3px);
    background-color: transparent;
}